{{- $lang  := .Attributes.lang | default .Type -}}
{{- $file  := .Attributes.file -}}

{{- /* TODO: Add div toolbar */}}
<div class="highlight-wrapper">
  <div class="highlight-toolbar">
    <span class="item">
      <span class="label">Lang:</span>
      <span class="name">{{ $lang }}</span>
    </span>

    {{- with $file }}
      <span class="item">
        <span class="label">File:</span>
        <span class="name">{{ . }}</span>
      </span>
    {{- end }}


    <button class="item right outline brighter hide js-btn-copy-code">Copy</button>
  </div>
  {{- highlight .Inner $lang -}}
</div>
