{{- $lang  := .Attributes.lang | default .Type -}}
{{- $file  := .Attributes.file | default (printf "code-%d.%s" .Ordinal $lang) -}}

{{- /* TODO: Add div toolbar */}}
<div class="highlight-wrapper">
  <div class="highlight-toolbar">
    <span class="item">
      <span class="label">Lang:</span>
      <span class="name">{{ $lang }}</span>
    </span>

    <span class="item">
      <span class="label">File:</span>
      <span class="name">{{ $file }}</span>
    </span>

    <button class="item right outline brighter hide js-btn-copy-code">Copy</button>
  </div>
  {{- highlight .Inner $lang -}}
</div>
