<!DOCTYPE html>
<html lang="{{- site.Language -}}">
<head>
  {{- block "head" . -}}
    {{- partial "head/base.html" . -}}
    {{- block "styles" . -}}
      {{- partial "head/style.html" . -}}
    {{- end -}}
  {{- end -}}
</head>

  <body class="{{- $.Site.Params.ThemeColor -}}">
    {{ block "container" . }}
    {{ $container := "container" }}
    {{ if $.Site.Params.FullWidthTheme }}
      {{ $container = print $container " full" }}
    {{ else if $.Site.Params.CenterTheme }}
      {{ $container = print $container " center" }}
    {{ end }}
    <div class="{{- $container -}}">

      <header>
      {{ block "header" . }}
        {{ partial "header.html" . }}
      {{ end }}

      {{ block "header_extra" . }}
      {{ end }}
      </header>

      <main>
        {{ block "main" . }}
          {{ if .Title }}
          <h1 class="post-title">{{ .Title | plainify }}</h1>
          {{ end }}
          {{ .Content }}
        {{ end }}
      </main>

      <footer class="footer">
      {{ block "footer_extra" . }}
      {{ end }}

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
      </footer>

    </div>
    {{ end }}

    {{ block "scripts" . }}
      {{ $menu := resources.Get "js/menu.js" | js.Build }}
      {{ $prism := resources.Get "js/prism.js" | js.Build }}
      {{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}
      <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
    {{ end }}
  </body>
</html>
