{{- define "main" }}
<article class="post">
  <header class="post-header">
    {{- if .Title }}
    <h1>{{ .Title | plainify }}</h1>
    {{- end }}

    {{- with .Params.Description -}}
    <p>{{ . }}</p>
    {{- end -}}
  </header>

  <div class="post-content">
    {{- with .Content }}
      {{ . }}
    {{- end }}

    {{- /* list content */}}
    <h2>See</h2>

    {{- $paginator := .Paginate .Pages -}}
    {{- /* list items */}}
    <ul class="post-entries">
      {{- range $paginator.Pages }}
      <li>
        {{- /* list item */ -}}
        <a href="{{ .Permalink }}">
          {{- if .Title -}}
          <h2>
            {{- .Title | markdownify -}}
          </h2>
          {{- else -}}
          {{- .File.TranslationBaseName | markdownify -}}
          {{- end -}}
        </a>

        {{- if and (not .IsSection) (or .Date .Params.Author) -}}
        <p class="post-meta">
        {{- with .Date -}}
        <span>{{ .Format "2006-01-02" -}}</span>
        {{- end -}}

        {{- with .Params.Author -}}
        <span> | {{ . }}</span>
        {{- end -}}
        </span>
        </p>
        {{- end -}}

        {{- with .Params.Description -}}
        <p class="post-description">{{ . }}</p>
        {{- end -}}
      </li>
      {{- end }}
    </ul>
  </div>

  <footer class="post-footer">
    {{- partial "pagination.html" . -}}
  </footer>
</article>
{{- end }}
