{{- define "main" -}}
  <article class="post">
    <header class="post-header">
      {{- if .Title }}
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      {{- end }}

      {{- if or (.Params.Date) (.Params.Author) }}
        <div class="post-meta">
          {{- with .Params.Date }}
            <time pubdate datetime="{{ .Format "2006-01-02 15:04:05 MST" }}">
              Published on
              {{ .Format "2006-01-02 15:04:05 MST" }}
            </time>
          {{- end }}

          {{- with .Params.Author }}
            <span>by {{ . }}</span>
          {{- end }}

          {{- with .Params.LastMod }}
            <time pubdate datetime="{{ .Format "2006-01-02 15:04:05 MST" }}"> last modified {{ .Format "2006-01-02 15:04:05 MST" }}. </time>
          {{- end }}
        </div>
      {{- end }}

      {{- if .Params.tags }}
        <p class="post-tags">Tags:&nbsp; {{- range .Params.tags -}}#<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;{{- end -}}</p>
      {{- end }}

      {{- with .Params.Description }}
        <p class="post-description">{{ . }}</p>
      {{- end }}
    </header>

    {{- if .Params.Cover }}
      <img src="{{ absURL .Params.Cover }}" class="post-cover" {{ with .Params.CoverAlt }}alt="{{ . | plainify }}"{{ end }} />
    {{- end }}

    {{- if and (.Param "toc") (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") }}
      <div class="post-toc">
        <h2>{{ "Table of Contents" | markdownify }}</h2>
        {{ .TableOfContents }}
      </div>
    {{- end }}

    {{- with .Content }}
      <div class="post-content">
        {{ . }}
      </div>
    {{- end }}


    <footer class="post-footer">
      {{- if .GitInfo -}}
        {{- partial "gitinfo.html" . -}}
      {{- end -}}

      {{- if eq .Type "posts" }}
        {{- if templates.Exists "partials/support-me.html" -}}
          {{- partial "support-me.html" . -}}
        {{- end -}}
        {{- partial "pagination.html" . -}}
        {{- partial "comments.html" . -}}
      {{- end }}
    </footer>
  </article>
{{- end -}}
