{{- define "main" }}
  {{- if .Title }}
    <h1 class="post-title">
      {{ .Title | plainify }}
    </h1>
  {{- end }}


  <article class="terms">
    <ul>
      {{- $type := .Type }}
      {{- range $key, $value := .Data.Terms.Alphabetical }}
        {{- $name := .Name }}
        {{- $count := .Count }}
        {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <li>
            <a class="terms-title" href="{{ .Permalink }}">{{ .Name }} ({{ $count }})</a>
          </li>
        {{- end }}
      {{- end }}
    </ul>
  </article>
{{- end }}
