.site-footer {
  margin: 48px 0;
  border-top: 1px solid $border-color;
  opacity: 0.6;
}

.buildinfo {
  font-size: smaller;
  font-style: italic;
  margin: 16px 0;
}

.copyright {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  .navbar {
    margin: 16px 0;

    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      > li {
        padding: 0 2px;
        border: none;
      }
    }
  }
}
