.pagination {
  margin-top: 50px;

  @media print {
    display: none;
  }

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 100px 0 20px;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      background: color-mod(var(--accent) blend(#1D1E28 98%));
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .1em;
      z-index: 1;
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 15px;
      z-index: 0;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    @media (--tablet) {
      flex-direction: column;
    }
  }

  &__next {
    margin-left: 8px;

    @media (--tablet) {
      margin-bottom: 1rem;
    }
  }

  &__previous {
    margin-right: 8px;

    @media (--tablet) {
      margin-bottom: 1rem;
    }
  }
}
