.post {
  width: 100%;
  text-align: left;
  margin: 48px 0;

  &-header {
    margin: 48px 0;
  }

  &-title {
    $border: 3px dotted $accent;
    position: relative;
    color: $accent;
    padding-bottom: 16px;
    border-bottom: $border;
    width: 100%;

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: $border;
    }

    a {
      text-decoration: none;
    }
  }

  &-meta,
  &-tags {
    display: block;
    font-size: smaller;
    font-style: italic;
    margin: 16px 0;
  }

  &-toc,
  &-content {
    margin: 48px 0;
  }

  &-cover {
    border: 20px solid $accent;
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media ($phone) {
      padding: 10px;
      border-width: 10px;
    }
  }

  &-footer {
    margin: 48px 0;
  }

  &-support {
    font-style: italic;
    margin: 48px 0;
    border-top: 1px solid $border-color;
  }

  ul {
    list-style: none;

    li:not(:empty):before {
      content: '-';
      position: absolute;
      left: -20px;
      color: $accent;
    }
  }
}

.hanchor {
  color: transparentize($accent, .1);
  text-decoration: none;
  margin-left: 10px;
  visibility: hidden;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a {
  visibility: visible;
}
