@media print {
  @page {
    size: A4 portrait;
    margin: 0.5in;
  }

  body {
    margin: 0;
    background-color: White;
    color: Black;
  }

  .post, .post-header, .post-content, .post-footer, .post-support,
  table, blockquote {
    margin: 24px 0;
  }

  .post-title {
    margin: 16px 0;
    padding-bottom: 8px;
  }

  h1, h2, li, table, .post-support {
    break-inside: avoid-page;
  }

  .gitinfo, .post-meta, .post-tags {
    color: grey;
    margin: 8px 0;
  }

  a, .post-title > a, .post-tags > a {
    text-decoration: none;
    color: darkgreen;
  }

  .post-title > a::after, .post-tags > a::after {
    content: none;
  }

  table, th, td {
    padding: 4px;
  }

  a::after {
    color: DarkSlateGrey;
    content: " (" attr(href) ")";
    text-decoration: underline;
    font-style: italic;
  }

  blockquote, code, kbd {
    background: transparentize($accent, .9);
    color: $background;
  }

  .code-toolbar {
    background: transparentize($accent, .9) !important;
    margin: 16px 0;
    padding: 16px;

    .toolbar {
      display: none;
    }
  }

  code.gitinfo > a {
    text-decoration: underline;
  }

  a[href^="#"]:after,
  .site-header,
  .breadcrumbs,
  .post-toc,
  .pagination,
  .site-footer,
  code.gitinfo > a::after {
    display: none
  }
}
