.buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: $spacer-small;

  @media ($phone) {
    flex-direction: column;
    row-gap: $spacer-small;
  }

  &.center {
    justify-content: center;
  }

  &.fill {
    button,
    .button,
    a.button {
      flex-grow: 1;
      @media ($phone) {
        width: 100%;
      }
    }
  }
}

button,
.button,
a.button {
  padding: $spacer-small $spacer-normal;
  text-align: center;
  align-items: center;
  border-radius: $spacer-small;
  border: $spacer-1 solid;
  font-weight: bold;
  cursor: pointer;

  @include themed() {
    color: t($button-text);
    background: t($button-background);
    border-color: t($accent);

    &:hover {
      background: transparentize(t($button-background), .2);
      text-decoration: none;
    }
  }

  @media print {
    background: tp($background) !important;
    color: mix(tp($accent), black, 20%) !important;

    &:after {
      display: none;
    }
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: $spacer-small;
  }

  &.previous .button__icon {
    margin-right: $spacer-small;
  }
}
