.site-header {
  margin: $spacer-largest 0;
  border-bottom: $spacer-1 solid;

  @include themed() {
    border-color: t($accent);
  }

  @media print {
    display: none;
  }
}

.gitinfo,
.breadcrumbs {
  font-size: smaller;
  font-style: italic;
  margin: $spacer-normal 0;
}

.gitinfo {
  @media print {
    opacity: 0.8;
    margin: 0;
    a {
      &:after {
        display: none;
      }
    }
  }
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: $spacer-normal 0;

  &-item {
    display: flex;
    flex-flow: row wrap;
    margin-right: $spacer-small;

    &-icon {
      margin-right: $spacer-smallest;
    }

    &-label {
      display: initial;

      @media ($phone) {
        display: none;
      }
    }
  }
}

.theme-toggle {
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: $spacer-largest;
  font-size: larger;

  &__first {
    display: block;
  }

  &__separator {
    flex-grow: 1;
    border-top: $spacer-2 dotted;

    @include themed() {
      border-color: t($accent);
    }
  }

  &__last {
    display: block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    > li {
      flex: 0 0 auto;
      padding: $spacer-small $spacer-normal;
      border: $spacer-2 dotted;
      margin-right: -#{$spacer-2};

      @include themed() {
        border-color: t($accent);
      }
    }
  }
}
