html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Verdana, Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
  background-color: $background;
  color: $color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "zero", "ss01", "locl";
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  @media ($phone) {
    font-size: 1rem;
  }
}

.site-main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Garamond, Georgia, "Roboto Serif", serif;
  margin: 24px 0;
  padding: 0;
  width: fit-content;
}

h1 {
  font-size: 2rem;
  border-bottom: 2px dotted $accent;
}

h2 {
  font-size: 1.8rem;
  border-bottom: 1px solid $accent;
}

h3 {
  font-size: 1.6rem;
  border-bottom: 1px dashed $accent;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  color: $linkcolor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

p {
  margin: 16px 0;
}

figure {
  display: table;
  max-width: 100%;
  margin: 24px 0;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  figcaption {
    font-size: 14px;
    padding: 4px 8px;
    margin-top: 5px;
    background: $accent;
    color: $background;
    /* opacity: .8; */

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

blockquote {
  border-left: 4px solid $border-color;
  background: mix($background, grey, 90%);
  margin: 48px 0;
  padding: 24px;
  opacity: 0.7;
  font-style: italic;

  @media ($phone) {
    padding-right: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:first-of-type:before {
    content: '>';
    display: block;
    position: absolute;
    left: -24px;
    padding: 4px;
    color: $accent;
  }

  &.twitter-tweet {
    position: relative;
    background: transparentize($accent, .9);
    font: inherit;
    color: inherit;
    border: 1px solid $border-color;
    padding-top: 48px;

    p:before {
      content: '';
    }

    &:before {
      content: '> From Twitter:';
      position: absolute;
      top: 24px;
      color: $accent;
      font-weight: bold;
    }
  }
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 48px 0;
}

table,
th,
td {
  border: 1px dashed $accent;
  padding: 8px;
}

th {
  color: $accent;
}

ul,
ol {
  margin-left: 24px;
  padding: 0;

  li {
    position: relative;
  }
}

ol {
  list-style: none;
  counter-reset: li;

  li {
    counter-increment: li;
  }

  li:before {
    content: counter(li);
    position: absolute;
    right: calc(100% + 10px);
    color: $accent;
    display: inline-block;
    text-align: right;
  }

  ol {
    margin-left: 48px;

    li {
      counter-increment: li;
    }

    li:before {
      content: counters(li, ".") " ";
    }
  }
}

mark {
  background: $accent;
  color: $background;
}

.container {
  display: flex;
  flex-direction: column;
  padding:  0 24px;
  max-width: 864px;
  min-height: 100vh;

  &.full,
  &.center {
    border: none;
    margin: 0 auto;
  }

  &.full {
    max-width: 100%;
  }

  @media print {
    display: initial;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @media print {
    display: initial;
  }
}

hr {
  width: 100%;
  border: none;
  background: $border-color;
  height: 1px;
}
