@mixin menu {
  display: none;
  flex-direction: column;
  $shadow-color: transparentize($background, .2);
  $shadow: 0 8px $shadow-color, -8px 8px $shadow-color, 8px 8px $shadow-color;
  position: absolute;
  background: $background;
  box-shadow: $shadow;
  color: white;
  margin: 0;
  padding: 0;
  top: 8px;
  left: 0;
  list-style: none;
  z-index: 99;
}

@mixin header-menu-trigger {
  color: $accent;
  background: $background;
  padding: 8px 16px;
  border: 1px dashed $accent;
  height: 100%;
  margin-bottom: 0 !important;
  position: relative;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  &__trigger {
    margin-right: 0 !important;
    color: $accent;
    user-select: none;
    cursor: pointer;
  }

  &__dropdown {
    @include menu;

    .open & {
      display: flex;
    }

    > li {
      flex: 0 0 auto;
      padding: 8px 16px;
      border: 1px dashed $accent;

      a {
        display: flex;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &--desktop {
    @media ($phone) {
      display: none
    }
  }

  &--mobile {
    .menu__trigger {
      @include header-menu-trigger;
      display: none;

      @media ($phone) {
        display: block;
      }
    }

    .menu__dropdown {
      @media ($phone) {
        left: auto;
        right: 0;
      }
    }

    li {
      flex: 0 0 auto;
    }
  }
}
