.post {
  width: 100%;
  text-align: left;
  margin: $spacer-normal 0;

  @media print {
    margin: 0 0 $spacer-large 0;
  }

  &-entries {
    .item {
      padding-bottom: $spacer-small;
      margin-bottom: $spacer-large;

      p {
        margin: 0;
      }

      h2,
      h3 {
        border-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  &-header {
    margin: $spacer-normal 0;

    @media print {
      margin: 0;
    }
  }

  &-title {
    $border-title: $spacer-smallest dotted;

    position: relative;
    border-bottom: $border-title;
    width: 100%;
    padding-bottom: $spacer-smallest;

    @include themed {
      border-color: t($accent);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: $spacer-2;
      display: block;
      width: 100%;
      border-bottom: $border-title;

      @include themed {
        border-color: t($accent);
      }
    }

    a {
      text-decoration: none;

      @media print {
        &::after {
          display: none;
        }
      }
    }
  }

  &-meta,
  &-tags {
    font-style: italic;
    font-size: $font-size-smaller;
    margin: $spacer-small 0;

    @include themed {
      color: t($text-accent);
    }

    a {
      @media print {
        &::after {
          display: none;
        }
      }
    }
  }

  &-description {
    font-size: $font-size-larger;
    font-weight: $font-light;

    @include themed {
      color: t($text-brighter);
    }
  }

  &-toc {
    margin: $spacer-normal 0;

    @media print {
      display: none;
    }

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  &-cover {
    border: $spacer-large solid $accent;
    background: transparent;
    margin: $spacer-largest 0;
    padding: $spacer-large;

    @media ($phone) {
      padding: $spacer-small;
      border-width: $spacer-small;
    }
  }

  &-footer {
    margin: $spacer-largest 0;

    @media print {
      margin: $spacer-small 0 0 0;
    }
  }

  &-support {
    font-style: italic;
    margin: $spacer-normal 0;
    border-top: $spacer-1 solid;

    @include themed {
      border-color: t($accent);
    }

    @media print {
      margin: $spacer-large 0;
    }
  }
}
