/* Shortcuts */
$accent: "accent";
$background: "background";
$text: "text";
$text-links: "text-links";
$text-accent: "text-accent";
$text-brighter: "text-brighter";
$text-duller: "text-duller";
$background-brighter: "background-brighter";
$background-grey: "background-grey";
$code-text: "code-text";
$code-background: "code-background";
$blockquote-background: "blockquote-background";
$button-text: "button-text";
$button-background: "button-background";

/* Syntax highlighting colors variables */
$syn-bg: "syn-bg";
$syn-fg: "syn-fg";
$syn-kw: "syn-kw";
$syn-ld: "syn-ld";
$syn-lse: "syn-lse";
$syn-n: "syn-n";
$syn-na: "syn-na";

/* Syntax highlighting common colors based on monokailight and monokai */
$syn-c: #75715e;
$syn-op: #f92672;
$syn-l: #ae81ff;

/* Themes */
$themes: (
  light: (
    $accent: $accent--light,
    $background: $background--light,
    $text: $text--light,
    $text-links: $text-links--light,
    $text-accent: scale-color($accent--light, $lightness: 30%),
    $text-brighter:
      scale-color($text--light, $saturation: 40%, $lightness: 20%),
    $text-duller:
      scale-color($text--light, $saturation: -90%, $lightness: -10%),
    $background-brighter: scale-color($background--light, $lightness: -5%),
    $background-grey:
      scale-color($accent--light, $saturation: -80%, $lightness: 90%),
    $code-text: scale-color($accent--light, $hue: -90%, $lightness: -45%),
    $code-background: scale-color($background--light, $lightness: 60%),
    $blockquote-background: darken($background--light, 2%),
    $button-text: darken($text--light, 5%),
    $button-background: darken($background--light, 5%),
    $syn-bg: #fafafa,
    $syn-fg: #272822,
    $syn-kw: #00a8c8,
    $syn-ld: #d88200,
    $syn-lse: #8045ff,
    $syn-n: #111,
    $syn-na: #75af00,
  ),
  dark: (
    $accent: $accent--dark,
    $background: $background--dark,
    $text: $text--dark,
    $text-links: $text-links--dark,
    $text-accent: scale-color($accent--dark, $lightness: 60%),
    $text-brighter:
      scale-color($text--dark, $saturation: 60%, $lightness: 60%),
    $text-duller:
      scale-color($text--dark, $saturation: -90%, $lightness: -20%),
    $background-brighter: scale-color($background--dark, $lightness: 20%),
    $background-grey:
      scale-color($accent--dark, $saturation: -90%, $lightness: -70%),
    $code-text: scale-color($accent--dark, $hue: -90%, $lightness: 45%),
    $code-background: scale-color($background--dark, $lightness: 20%),
    $blockquote-background: lighten($background--dark, 5%),
    $button-text: lighten($text--dark, 10%),
    $button-background: lighten($background--dark, 15%),
    $syn-bg: #272822,
    $syn-fg: #f8f8f2,
    $syn-kw: #66d9ef,
    $syn-ld: #e6db74,
    $syn-lse: #ae81ff,
    $syn-n: #f8f8f2,
    $syn-na: #a6e22e,
  ),
);

/* Current theme global variable */
$current-theme: null;

@mixin themed() {
  $current-theme: map-get($themes, "light") !global;

  & {
    @content;
  }

  @media print {
    & {
      @content;
    }
  }

  $themes-local: map-remove($themes, "light");

  @each $theme-name, $theme-map in $themes-local {
    .theme--#{$theme-name} & {
      $current-theme: $theme-map !global;
      @content;

      $current-theme: null !global;
    }
  }
}

@function t($key) {
  @return map-get($current-theme, $key);
}
