/* Shortcuts */
$accent: 'accent';
$background: 'background';
$text: 'text';
$text-links: 'text-links';

/* Themes */
$themes: (
  light: (
    $accent: $accent--light,
    $background: $background--light,
    $text: $text--light,
    $text-links: $text-links--light
  ),
  dark: (
    $accent: $accent--dark,
    $background: $background--dark,
    $text: $text--dark,
    $text-links: $text-links--dark
  ),
);

$current-theme: null;

@mixin themed() {
  @each $theme-name, $theme-map in $themes {
    .theme--#{$theme-name} & {
      $current-theme: () !global;
      @each $key, $submap in $theme-map {
        $value: map-get(map-get($themes, $theme-name), '#{$key}');
        $current-theme: map-merge($current-theme, ($key: $value)) !global;
      }
      @content;
      $current-theme: null !global;
    }
  }
}

@function t($key) {
  @return map-get($current-theme, $key);
}

@function tp($key) {
  @return map-get(map-get($themes, 'light'), '#{$key}');
}
