/* Fonts */
$font-family-title: "Roboto Slab", "Times New Roman", garamond, serif;
$font-family-normal: "Fira Sans", arial, helvetica, sans-serif;
$font-family-mono: "Ubuntu Mono", monaco, consolas, monospace;

/* Font weights */
$font-light: 300;
$font-normal: 400;
$font-bold: 500;

/* Font sizes */
$font-size: 1rem;
$font-size-smaller: $font-size - 0.125;
$font-size-larger: $font-size + 0.125;

/* Layouts */
$container-max-width: 864px;

/* Spacers */
$spacer-1: 1px;
$spacer-2: $spacer-1 * 2;
$spacer-smallest: $spacer-2 * 2;
$spacer-small: $spacer-smallest * 2;
$spacer-normal: $spacer-small * 2;
$spacer-large: $spacer-small * 3;
$spacer-large2: $spacer-small * 4;
$spacer-largest: $spacer-small * 6;

/* Colors */
$blue: hsl(
  $hue: 240deg,
  $saturation: 100%,
  $lightness: 50%,
);

/* Light theme colors */
$accent--light: $blue;
$background--light: scale-color(
  $accent--light,
  $saturation: -60%,
  $lightness: 90%
);
$text--light: scale-color(
  $accent--light,
  $saturation: -60%,
  $lightness: -50%
);
$text-links--light: adjust-color(
  $accent--light,
  $hue: -90deg,
  $lightness: -30%
);

/* Dark theme colors */
$accent--dark: $blue;
$background--dark: scale-color(
  $accent--dark,
  $saturation: -80%,
  $lightness: -80%
);
$text--dark: scale-color($accent--dark, $lightness: 80%);
$text-links--dark: adjust-color(
  $accent--dark,
  $hue: -90deg,
  $lightness: -10%
);

/* Media queries */
$phone: "max-width: 684px";
$tablet: "max-width: 900px";

:root {
  --phone: (#{$phone});
  --tablet: (#{$tablet});
}
