{{- $pageName := "Page" -}}
{{- if .IsHome -}}
  {{- $pageName = "Home page" -}}
{{- else if .IsSection -}}
  {{- $pageName = print .Title " list" | plainify -}}
{{- else if eq .Type "posts" -}}
  {{- $pageName = print "Article" | plainify -}}
{{- else -}}
  {{- with .File -}}
    {{- if eq .TranslationBaseName "cv" -}}
      {{- $pageName = print .TranslationBaseName | upper -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with .GitInfo -}}
  {{ $commitUrl := printf "https://%s.com/%s/%s/-/commit/%s" site.Data.gitinfo.host site.Data.gitinfo.user site.Data.gitinfo.repo .Hash }}

  {{- /* gitinfo */}}
  <p class="gitinfo">
    {{- /* page name */}}
    {{ $pageName }} last updated on {{ .AuthorDate }} by commit
    {{- /* code */}}
    <code class="gitinfo">
      <a href="{{ $commitUrl }}">
        #{{ .AbbreviatedHash }} |
        {{ .Subject }}
      </a>
    </code>
  </p>
{{- end -}}
{{/* gitinfo */}}
