{{ if or .NextInSection .PrevInSection }}
<section class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
        <hr />
    </div>
    <div class="pagination__links">
        {{ if .NextInSection }}
        <span class="pagination__previous">
            <a href="{{ .NextInSection.Permalink }}">
                <span>← {{ .NextInSection.Title }}</span>
            </a>
        </span>
        {{ end }}
        {{ if .PrevInSection }}
        <span class="pagination__next">
            <a href="{{ .PrevInSection.Permalink }}">
                <span>{{ .PrevInSection.Title }} →</span>
            </a>
        </span>
        {{ end }}
    </div>
</section>
{{ end }}
