{{- if site.Params.site_verification.google }}
  <meta name="google-site-verification" content="{{ site.Params.site_verification.google }}" />
{{- end }}

{{- if site.Params.site_verification.bing }}
  <meta name="msvalidate.01" content="{{ site.Params.site_verification.bing }}" />
{{- end }}

{{- if site.Params.site_verification.yandex }}
  <meta name="yandex-verification" content="{{ site.Params.site_verification.yandex }}" />
{{- end }}

{{- if site.Params.site_verification.naver }}
  <meta name="naver-site-verification" content="{{ site.Params.site_verification.naver }}" />
{{- end -}}
