<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/theme/black.min.css" id="theme">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/plugin/highlight/monokai.min.css">

<style type="text/css">
    :root {
        --r-background-color: rgb(29, 33, 44);
        --r-main-color: aqua;
        --r-heading-color: aqua;
        --r-heading-text-transform: none;
        --r-main-font-size: 1.2em;
        --r-main-font: Arial, Helvetica, Verdana, sans-serif;
        --r-heading-font: "Times New Roman", Garamond, Georgia, serif;
        --r-code-font: "Ubuntu mono", "Fira code", monospace;
        --r-selection-color: white;
        --r-selection-background-color: blue;
        --r-link-color: lightgreen;
        --r-link-color-hover: magenta;
    }

    code, kbd {
      color: #23b0ff;
      background: rgba(35, 176, 255, 0.2);
      padding: 1px 6px;
      margin: 0 2px;
    }

    .header-left {
        position: absolute;
        top: 0%;
        left: 0%;
        margin: 20px;
        padding: 10px;
    }

    .footer-left {
        position: absolute;
        bottom: 0%;
        left: 0%;
        margin: 20px;
        padding: 10px;
    }

    @media print {
      @page {
        size: A4 landscape;
        margin: 1in;
      }
    }
</style>
